<style>
.field_with_errors {
  border: 1px solid red;
}
</style>

<h1>Create a new Mixtape!</h1>

<%= form_for(@mixtape) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% if @mixtape.errors[:name].present? %>
      <small>Please enter a name</small>
    <% end %>  
  </p>

  <p>
    Add Songs:

    <ul>
      <%= f.fields_for :songs do |song_field| %>
        <li><%= song_field.text_field :title %></li>       
      <% end %>  
    </ul>

  </p>
  
  <%= f.submit %>

<% end %>  